.dataTables_filter{
    position: relative;
    right: 12rem;
    top:3rem
}
#producttable_length{
    position: relative;
    right: 12rem;
    top:3rem

}
#producttable_info{
    position: relative;
    right: 12rem;
    top:3rem

}
#producttable_paginate{
    position: relative;
    top:4rem;
    right: 12rem;

}

.dataTables_wrapper .dataTables_length select{
    padding-right: 20px;

}
